* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100dvw;
  height: 100dvh;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-pokemon);
  flex-direction: column;
  gap: 4em;
  background-image: url(../desing-tools/Copia\ de\ WhatsApp\ Image\ 2024-04-04\ at\ 22.40.52.jpeg);
}

@media (min-width: 301px) and (max-width: 600px) {
  .body {
    background-image: url(../desing-tools/Copia\ de\ mobile-desing.png);
    flex-direction: column;
    gap: 2em;
    padding: 2em;
  }
}
