.imgPokemon {
  filter: brightness(0);
  width: 500px;
}

@media (min-width: 301px) and (max-width: 600px) {
  .imgPokemon {
    width: 200px;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .imgPokemon {
    margin: 0 auto;
    width: 200px;
  }
}
